<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes Manager</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome_style.css') }}">

</head>
<body>
  <div class="container">
    <h1>Witaj w Notes Manager!</h1>
    <p>Zarządzaj swoimi notatkami w prosty i wygodny sposób.</p>

    <div class="buttons">
      <a href="login">
        <button class="btn btn-primary">Zaloguj się</button>
      </a>
      <a href="register">
        <button class="btn btn-secondary">Zarejestruj się</button>
      </a>
    </div>
  </div>
</body>
</html>